footer {
  background-color: #444444;
  color: #eeeeee;
  height: 10em;
  padding-top: 2em;
}

footer nav li a {
  color: #ffffff;
}

footer p {
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
}
