// styling for screensize < 35em //
footer {
  background-color: $themeColor;
  color: $footerColor;
  height: 10em;
  padding-top: 2em;

  nav a {
  color: $headerColor;
  }

  p {
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
  }
}
