@media screen and (min-width: 70em) {
  .container {
    display: flex;

    .posts {
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 4 0 20%;

      article {
      margin: 3em;
      flex: 1 0 30%;
      }
    }
  }
}
