@media screen and (min-width: 35em) {
  .hero {
    display: flex;
    justify-content: space-between;

    h1 {
      display: flex;
      justify-content: center;
      align-self: center;
      flex: 0 0 50%;
      }

    nav {
    align-self: flex-end;
    }

    ul {
    justify-content: flex-end;
    }
  }
}
