// styling for screensize < 35em //
.hero {
  background-color: $themeColor;
  height: 7em;

  h1 {
  color: $headerColor;
  }

  ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
  }

  nav a {
  color: $headerColor;
  text-decoration: none;
  padding-right: 1em;
  }
}
