@media screen and (min-width: 35em) {
  .hero h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 0 0 50%;
  }

  .hero {
    display: flex;
    justify-content: space-between;
  }

  .hero nav {
    align-self: flex-end;
  }

  .hero ul {
    justify-content: flex-end;
  }
}
