.posts {
  color: $themeColor;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  article {
  box-sizing: border-box;
  background-color: $articleColor;
  border: 1px solid $themeColor;
  height: 20em;
  margin: 1em;
  flex: 0 0 95%;
  }
}
