
$headerThemeColor: rgb(100, 100, 100);
$themeBorderColor: rgb(100, 100, 200);
$headerHeadingSize: 1.2em;
$headerTextHover: rgb(255, 255, 255);
$themeBorder: 1px solid $themeBorderColor;

$navBoxSize: 100px;


$themeBorder: #444444;
