
/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */

html,body,header,main,footer,section,aside,h1,h2,h3,h4,p {
  margin:0;
  padding:0;
}

ul {
  margin:0;
}

body {
    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.hero {
    /* DO NOT CHANGE THESE */
    background-color: #444444;
    display: flex;
    height: 10em;
}

.hero h1 {
    /* DO NOT CHANGE THESE */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 0 0 50%;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.hero li {
  flex: 0 0 50%;
}

li a {
  color: white;
  text-decoration: none;
}

.posts {
    /* DO NOT CHANGE THESE */
    color: #444444;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 4 0 20%;
}

.posts article {
    /* DO NOT CHANGE THESE */
    box-sizing: border-box;
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em; /* this is just so we can see the articles since they have no content */
    margin: 3em;
    flex: 1 0 30%;
}

.sidebar {
    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar section {
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
    width: 90%;
    margin-top: 2em;
}

footer {
    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
}
