
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p {
  margin:0;
  padding:0;
}

body {
  font-family: Verdana, Arial, sans-serif;
}

.hero {
  background-color: #444444;
  height: 7em;
}

.hero h1 {
  color: #ffffff;
}

.hero ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
}

.hero nav li a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 1em;
}

.container {}
  justify-content: space-between;
  width: 90%;
}

.posts {
  color: #444444;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.posts article {
  box-sizing: border-box;
  background-color: #dddddd;
  border: 1px solid #444444;
  height: 20em;
  margin: 1em;
  flex: 0 0 95%;
}

.sidebar {
  background-color: #aaaaaa;
  color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 20%;
}

.sidebar section {
  background-color: #dddddd;
  border: 1px solid #444444;
  height: 10em;
  width: 90%;
  margin: 2em 0;
}

footer {
  background-color: #444444;
  color: #eeeeee;
  height: 10em;
  padding-top: 2em;
}

footer nav li a {
  color: white;
}

footer p {
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
}
